/* Toast custom styles */
.toast {
    right: 30px;
    top: 30px;
    position: fixed;
}
#toastBody {
  z-index: 99999;
}

/* Hide input number arrows Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide input number arrows Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* home page card item */
.home-page-card-item .card {
  width:280px; 
  height: 150px;
}
.home-page-card-item .card-img-top {
  min-height: 130px;
  min-width: 130px; 
  margin-top:10px; 
  margin-bottom:10px; 
  margin-right:10px; 
  border-radius:5px;
}
/* home page card item in mobile view */
@media screen and (max-width: 900px) {
  .home-page-card-item {
    display: flex;
    justify-content: center;
  }
  .home-page-card-item .card {
    flex-direction: row;
  }
  .home-page-card-item .card-img-top {
    width: 110px;
    height: 110px;
  }
  .home-page-sidebar {
    display: none;
  }
}
    
/* tree category filter home page */
.tree label {
  cursor: pointer;
}
.tree .category-filter-last-loop-ul {
  padding-left: 0;
}

/* ads images single page carousel cursor */
.ads-images-carousel-wrapper img {
  cursor: pointer;
}

/* top notification banner custom styles */
/* for desktop banner */
.top-notification-banner-wrapper .top-notification-banner-desktop {
  position: fixed;
  top: 0;
  z-index: 1000;
  height:60px;
  width:100%; 
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center;
  display: none;
}
@media screen and (min-width: 992px) {
  .top-notification-banner-wrapper .top-notification-banner-desktop {
    display: block;
  }
}
.top-notification-banner-wrapper header {
  top: 60px;
}
/* for mobile banner */
.top-notification-banner-wrapper .top-notification-banner-mobile {
  position: fixed;
  top: 0;
  z-index: 1000;
  height:35px;
  width:100%; 
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center;
  display: none;
}
@media screen and (max-width: 991px) {
  .top-notification-banner-wrapper .top-notification-banner-mobile {
    display: block;
  }
}
@media screen and (max-width: 991px) {
  .top-notification-banner-wrapper header {
    top: 35px;
  }
}
/* END OF - top notification banner custom styles */

/* set top distance for all main elements, this is caused by the new two rows header design */
.jaban-main-element {
  margin-top: 30px !important;
}
@media screen and (max-width: 991px) {
  .jaban-main-element {
    margin-top: 145px !important;
  }
}

/* category circles in home page */
.home-page-category-circles {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 800px) {
  .home-page-category-circles a {
    width: 30%;
  }
}
.home-page-category-circles a {
  margin-top: 20px;
}
.home-page-category-circles a {
  margin-left: 5px;
  margin-right: 5px;
}
.home-page-category-circles a img {
  border: 2px #000000 solid;
  width: 120px;
  /* height: 120px; */
}
@media (max-width: 800px) {
  .home-page-category-circles {
    margin-top: 10px;
  }
  .home-page-category-circles a img {
    width: 80px;
    /* height: 80px; */
  }
}

/* set modal z index */
.modal {
  z-index: 99999;
}

/* mobile footer styles */
.footer-mobile span {
  font-size: 10px;
}

/* create private page video section styles */
.private-page progress {
  width: 100%;
}

/* pointer cursor in private site navigation */
.zisaz-psite-navigation-btn {
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer !important;
}

.category-image {
  width: 25px;
  height: 25px;
}

.floating-right-border {
  border-right: 1px solid rgba(128, 128, 128, 0.63);
}


