/* Toast custom styles */
.toast {
    right: 30px;
    top: 30px;
    position: fixed;
}

/* Hide input number arrows Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide input number arrows Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* add grey overlay to home page more card items */
.home-page-more-card-overlay-div {
  height:100%;
  width:100%;
  position:absolute;
  background-color:#000;
  opacity:0.7;
  z-index:1;
}
.home-page-more-item-card p {
  color: white;
  position: absolute;
  top: 42%;
  right: 31%;
  z-index: 2;
}

/* header search bar width */
.search-from-header {
  min-width:600px;
}    
    
/* tree category filter home page */
.tree label {
  cursor: pointer;
}
.tree .category-filter-last-loop-ul {
  padding-left: 0;
}
